<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            color: #333;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/jasondavies/d3-cloud/build/d3.layout.cloud.js"></script>
    
</head>
<body>
    <nav class="bg-gray-800 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'nube_admin' %}" class="text-lg font-semibold">Whatsaap Analisis</a>
            <div>
                <a href="{% url 'nube_admin' %}" class="px-4 hover:text-gray-300">Inicio</a>
                <a href="{% url 'extraccion4_list' %}" class="px-4 hover:text-gray-300">Busqueda</a>
                <a href="{% url 'estadisticas' %}" class="px-4 hover:text-gray-300">Estadisticas</a>

                <a href="" class="px-4 hover:text-gray-300">Cerrar sesión</a>
            </div>
        </div>
    </nav>
    <br>
    <h2>Estadisticas por pais</h2>
    <table>
        <tr>
            <th>Pais</th>
            <th>Cantidad</th>
        </tr>
        {% for country, count in country_counts.items %}
        <tr>
            <td>{{ country }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Estadisticas por estados de Mexico</h2>
    <table>
        <tr>
            <th>Estado</th>
            <th>Cantidad</th>
        </tr>
        {% for state, count in state_counts.items %}
        <tr>
            <td>{{ state }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
